@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@200&display=swap');

body{
    background-image: url(../img/fondo.jpg)  ;
    background-size: cover;
    background-position: center;
    max-width: 2560px;
    height: 800px;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
}

/*Limited Pagina*/

.Limited{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 65px;
    padding: 20px;
}
.PageLimit{
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1px;
}
.producto h2{
    color: whitesmoke;
}
.precio {
    font-size: 1.5em;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.boton {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}
.boton:hover {
    background-color: rgb(253, 253, 253);
    color: black;
}

.fondo{
    background-color: rgba(7, 7, 7, 0);
    border-radius: 20px;

}

/*Contacto Pagina*/

.Contacto{ 
    text-align: center;
    font-size: 65px;
    font-family: 'Anek Bangla', sans-serif;
}
#Horarios{
    background: rgba(240, 240, 240, 0.315);
    margin: 100px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}
#mayoristas{
    background: rgba(240, 240, 240, 0.315);
    margin: 100px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

/*Contacto Formulario*/

#contactoF{
    background: rgba(240, 240, 240, 0.315);
     height: 400px;
     margin: 100px ;
     padding: 10px 20px;
     box-sizing: border-box;
     border-radius: 5px;
}
#contactanosF{
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 30px;
    text-align: center;
}
.F {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box; 
}
textarea{
    max-height: 100px;
    min-height: 120px;
    max-width: 100%;
}
/*Prueba Producto*/

  